@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
:root {
  --bg-color-1: #141C24;
  --bg-color-2: #1F2631;
  --bg-color-3:#171717;
  --bg-color-4:#00c5ff;
  --color-1:#fff;
  --color-2: #00C5FF;
}

* {
  margin: 0;
  padding: 0;
  font-family: aire;
  list-style: none;
}

@font-face {
  font-family: aire;
  src: url(/fonts/AireExterior.ttf);
}
main {
  padding: 100px;
}
main .register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-size: 24px;
}
main .register .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  margin: 10px 50px 10px 0px;
}
main .register .nav a {
  font-size: 48px;
  text-decoration: none;
  color: #ababab;
}
main .register input {
  width: 390px;
  height: 75px;
  border: none;
  border-radius: 5px;
  padding-left: 20px;
}
main .register .checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 450px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0px 0px 40px;
  gap: 20px;
  font-size: 12px;
  color: #ababab;
}
main .register .checkbox input {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
main .register .checkbox button {
  width: 251px;
  height: 61px;
  font-size: 24px;
  background-color: #fff;
  border: none;
  margin: 0px 0px 0px 45px;
  cursor: pointer;
  -webkit-clip-path: polygon(0 0, 90% 0, 100% 45%, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 90% 0, 100% 45%, 100% 100%, 0% 100%);
}
main .register .checkbox button a {
  text-decoration: none;
  color: #1a1a1a;
}
main .register .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin: 50px 0px 0px 0px;
  -webkit-animation: line 1.5s infinite alternate;
          animation: line 1.5s infinite alternate;
}
main .register .content .line1 {
  width: 117px;
  height: 0;
  border: 1px solid #00c5ff;
  -webkit-box-shadow: 0 0 20px #00c5ff;
          box-shadow: 0 0 20px #00c5ff;
}
main .register .content span {
  color: #00c5ff;
  font-size: 12px;
  text-shadow: 0 0 20px #00c5ff;
}
@-webkit-keyframes line {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes line {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
main .register .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding: 5px;
}

html,
body {
  background-color: var(--bg-color-1);
  width: 100%;
  font-family: aire;
}